<form method="post">
  {% csrf_token %}

  <input type="password" name="old_password" placeholder="Enter Old Password" />
  <input type="password" name="new_password" placeholder="Enter New Password" />
  <input
    type="password"
    name="confirm_password"
    placeholder="Confirm Password"
  />
  <button type="submit">Change password</button>
</form>

<a href="/">Dashboard</a>

{% if error %}
<p style="color: red">{{error}}</p>
{% endif %} 
{% if success %}
<p style="color: green">{{success}}</p>
{% endif %}
