<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>This is my Home page from HTML Document</h1>
    <h2>{{name | upper}} : {{age}}</h2>
    <h2>{{name | lower}} : {{age}}</h2>
    <h2>{{name | title}} : {{age}}</h2>
    <h2>{{name | length}} : {{age}}</h2>
    <h2>{{fullName | default:"Vijayawada"}} : {{age}}</h2>

    <!-- {% for employee in homeData %}

    <li>{{employee}}</li>

    {% endfor %} -->

    <!-- {% if is_active %}

    <h2>The user is actived</h2>

    {% else %}

    <h3>The user is inactive</h3>
    {% endif %} {% comment %}
    <h1>This is the commented code</h1>
    {% endcomment %} -->
  </body>
</html>
