<!DOCTYPE html>
<html>
<head>
    <title>Employee List</title>
</head>
<body>
    <h1>Employee List</h1>
    <a href="{% url 'employee_create' %}">
        Add Employee
    </a>

    <br><br>
    <table border="1">
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Designation</th>
            <th>Salary</th>
            <th>Actions</th>
        </tr>
        {% for employee in employees %}
       <tr>
            <td>
                {{ employee.employee_code }}
            </td>
            <td>
                {{ employee.first_name }}
                {{ employee.last_name }}
            </td>
            <td>
                {{ employee.email }}
            </td>
            <td>
                {{ employee.department }}
            </td>
            <td>
                {{ employee.designation }}
            </td>
            <td>
                {{ employee.salary }}
            </td>
            <td>
                <a href="{% url 'employee_update' employee.id %}">
                    Edit
                </a>
                |
                <a href="{% url 'employee_delete' employee.id %}">
                    Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
