<!doctype html>

<html>
  <head>
    <title>Employee Details</title>
  </head>

  <body>
    <h1>Employee Details</h1>

    <hr />

    <p>
      <strong> Employee Code: </strong>

      {{ employee.employee_code }}
    </p>

    <p>
      <strong> First Name: </strong>

      {{ employee.first_name }}
    </p>

    <p>
      <strong> Last Name: </strong>

      {{ employee.last_name }}
    </p>

    <p>
      <strong> Email: </strong>

      {{ employee.email }}
    </p>

    <p>
      <strong> Mobile: </strong>

      {{ employee.mobile }}
    </p>

    <p>
      <strong> Department: </strong>

      {{ employee.department }}
    </p>

    <p>
      <strong> Designation: </strong>

      {{ employee.designation }}
    </p>

    <p>
      <strong> Role: </strong>

      {{ employee.role }}
    </p>

    <p>
      <strong> Salary: </strong>

      {{ employee.salary }}
    </p>

    <p>
      <strong> Status: </strong>

      {{ employee.status }}
    </p>

    <p>
      <strong> Created At: </strong>

      {{ employee.created_at }}
    </p>

    <p>
      <strong> Updated At: </strong>

      {{ employee.updated_at }}
    </p>

    <br />

    <a href="{% url 'employee_list' %}"> Back to Employee List </a>
  </body>
</html>
