<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee Management System - Login</title>
  </head>
  <body>
    <h1>Employee Management System</h1>

    <h2>Login</h2>
    {% if messages %} 
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %} 
    {% endif %}
    <form method="POST">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Login</button>
    </form>
  </body>
</html>
